@font-face {
  font-family: 'segoe-regular';
  src: url("../fonts/Regular.woff") format("truetype");
}

@font-face {
  font-family: 'segoe-light';
  src: url("../fonts/Light.woff") format("truetype");
}

@font-face {
  font-family: 'segoe-bold';
  src: url("../fonts/Bold.woff") format("truetype");
}



$color-white: #FFFFFF;
$color-white-87: #ffffffde;
$color-cool-grey: #9fa3a7;
$color-tomato: #f05638;